# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env
backend/.env
.env.*
!.env.example

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Database / local files
*.db
*.sqlite3
.pytest_cache/
.coverage
htmlcov/

# Node / frontend later
node_modules/
dist/
build/
